<div id="addQuestionToGroup" class="container">
  <button class="btn btn-outline-primary mb-3" type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapseQuestionform' + index" aria-expanded="false"
          [attr.aria-controls]="'#collapseQuestionform' + index">
    Frage hinzufügen
  </button>
  <div [attr.id]="'collapseQuestionform' + index" class="collapse mb-2">
    <div class="card card-body">
      <form id="addQuestion" class="container"
            #questionForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <div class="col">
            <label for="question" class="form-label">Frage</label>
            <input id="question" class="form-control" name="text" type="text"
                   [(ngModel)]="question.text" required>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <input [attr.id]="'required' + index" class="form-check-input" name="required"
                   type="checkbox" [value]="1" [(ngModel)]="question.required">
            <label [attr.for]="'required' + index" class="form-check-label">
              Erforderlich?
            </label>
          </div>
          <div class="col-8">
            <span class="me-3">Antwortmöglichkeit:</span>
            <!--TODO: Make button for 'Freitext' checked-->
            <input [attr.id]="'textQuestion' + index" class="form-check-input" name="questionType"
                   type="radio" [value]="0" [(ngModel)]="question.hasCheckbox"
                   data-bs-toggle="collapse" aria-expanded="false"
                   [attr.data-bs-target]="'#checkboxGroupForm' + index"
                   [attr.aria-controls]="'#checkboxGroupForm' + index">
            <label [attr.for]="'textQuestion' + index"
                   class="form-check-label me-3">
              Freitext
            </label>
            <input [attr.id]="'checkboxQuestion' + index" class="form-check-input" name="questionType"
                   type="radio" [value]="1" [(ngModel)]="question.hasCheckbox"
                   data-bs-toggle="collapse" aria-expanded="false"
                   [attr.data-bs-target]="'#checkboxGroupForm' + index"
                   [attr.aria-controls]="'#checkboxGroupForm' + index">
            <label [attr.for]="'checkboxQuestion' + index"
                   class="form-check-label">
              Auswahl
            </label>
          </div>
        </div>
        <div class="mb-3">
          <div class="container collapse"
               [attr.id]="'checkboxGroupForm' + index">
            <div class="card card-body">
              <div class="container">
                <div class="row mb-3">
                  <div class="col">
                    <label for="multipleSelect" class="form-check-label">
                      Mehrfachauswahl?
                    </label>
                    <input id="multipleSelect" class="form-check-input" name="multipleSelect"
                           type="checkbox" value="1"
                           [(ngModel)]="checkboxGroup.multipleSelect">
                    <!-- TODO: Enable minSelect/maxSelect fields on click -->
                    <!-- (change)="document.getElementById('minSelect' + index).disabled = !this.checked;-->
                    <!--           document.getElementById('maxSelect' + index).disabled = !this.checked;"-->
                  </div>
                  <div class="col">
                    <label [attr.for]="'minSelect' + index"
                           class="form-label">
                      Minimum:
                    </label>
                    <input [attr.id]="'minSelect' + index" class="form-control" name="maxSelect"
                           type="number"
                           [(ngModel)]="checkboxGroup.minSelect" disabled>
                  </div>
                  <div class="col">
                    <label [attr.for]="'maxSelect' + index"
                           class="form-label">
                      Maximal:
                    </label>
                    <input [attr.id]="'maxSelect' + index" class="form-control" name="maxSelect"
                           type="number" min="2"
                           [(ngModel)]="checkboxGroup.maxSelect" disabled>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-end">
          Hinzufügen
        </button>
      </form>
    </div>
  </div>
</div>
