<section id="surveyCreation" class="d-flex flex-column min-vw-100">
  <form id="surveyInput" class="container restrictWidth" th:object="${newSurvey}"
        th:action="@{/createSurvey}"
        th:method="POST">
    <h1 class="my-4">
      Erstellen Sie Ihre Umfrage:
    </h1>
    <div id="surveyName" class="row mb-3">
      <div class="col">
        <label for="name" class="form-label labelInput">Name*</label>
        <input id="name" type="text" class="form-control" th:field="${newSurvey.name}" required>
      </div>
    </div>
    <div id="surveyDescription" class="row mb-3">
      <div class="col">
        <label for="description" class="form-label labelInput">Beschreibung</label>
        <textarea id="description" class="form-control"
                  th:field="${newSurvey.description}"></textarea>
      </div>
    </div>
    <div id="surveyDates" class="row mb-3">
      <div class="col">
        <label for="startDate" class="form-label labelInput">Startdatum*</label>
        <input id="startDate" type="datetime-local" class="form-control" name="start"
               th:field="${newSurvey.startDate}"
               required>
      </div>
      <div class="col">
        <label for="endDate" class="form-label labelInput">Enddatum*</label>
        <input id="endDate" type="datetime-local" class="form-control" name="end"
               th:field="${newSurvey.endDate}"
               required>
      </div>
    </div>
    <div id="errorMessages" class="row">
            <span class="my-2 alert alert-danger" th:if="${#fields.hasErrors('endDate')}"
                  th:errors="${newSurvey.endDate}">
            Das Enddatum muss in der Zukunft liegen.
            </span>
    </div>
    <a routerLink="/createSurvey/addQuestions">
      <button type="button" class="mt-3 btn btn-primary float-end">
        Weiter
      </button>
    </a>
  </form>
</section>
