<div id="addQuestionToGroup" class="container p-0">
  <button class="btn btn-outline-primary mb-2 " type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapseQuestionform' + indexQuestionGroup" aria-expanded="false"
          [attr.aria-controls]="'#collapseQuestionform' + indexQuestionGroup">
    Frage hinzufügen
  </button>
  <div [attr.id]="'collapseQuestionform' + indexQuestionGroup" class="collapse mt-2">
    <div class="card card-body">
      <form id="addQuestion" class="container"
            #questionForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <div class="col">
            <label for="question" class="form-label">Frage</label>
            <input id="question" class="form-control" name="text" type="text"
                   [(ngModel)]="question.text" required>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <input [attr.id]="'required' + indexQuestionGroup" class="form-check-input" name="required"
                   type="checkbox" [value]="1" [(ngModel)]="question.required">
            <label [attr.for]="'required' + indexQuestionGroup" class="form-check-label">
              Erforderlich?
            </label>
          </div>
          <div class="col-8">
            <span class="me-3">Antwortmöglichkeit:</span>
            <!--TODO: Make button for 'Freitext' checked-->
            <input [attr.id]="'textQuestion' + indexQuestionGroup" class="form-check-input" name="questionType"
                   type="radio" [value]="0" [(ngModel)]="question.hasCheckbox"
                   data-bs-toggle="collapse" aria-expanded="false"
                   [attr.data-bs-target]="'#checkboxGroupForm' + indexQuestionGroup"
                   [attr.aria-controls]="'#checkboxGroupForm' + indexQuestionGroup">
            <label [attr.for]="'textQuestion' + indexQuestionGroup"
                   class="form-check-label me-3">
              Freitext
            </label>
            <input [attr.id]="'checkboxQuestion' + indexQuestionGroup" class="form-check-input" name="questionType"
                   type="radio" [value]="1" [(ngModel)]="question.hasCheckbox"
                   data-bs-toggle="collapse" aria-expanded="false"
                   [attr.data-bs-target]="'#checkboxGroupForm' + indexQuestionGroup"
                   [attr.aria-controls]="'#checkboxGroupForm' + indexQuestionGroup">
            <label [attr.for]="'checkboxQuestion' + indexQuestionGroup"
                   class="form-check-label">
              Auswahl
            </label>
          </div>
        </div>
        <div class="mb-3">
          <div class="container collapse"
               [attr.id]="'checkboxGroupForm' + indexQuestionGroup">
            <div class="card card-body">
              <div class="container">
                <div class="row mb-3">
                  <div class="col">
                    <label [attr.for]="'multipleSelect' + indexQuestionGroup" class="form-check-label">
                      Mehrfachauswahl?
                    </label>
                    <input [attr.id]="'multipleSelect' + indexQuestionGroup" class="form-check-input"
                           name="multipleSelect"
                           type="checkbox" value="1"
                           [(ngModel)]="checkboxGroup.multipleSelect"
                           (change)="enableDisableMinMaxInput()">
                  </div>
                  <div class="col">
                    <label [attr.for]="'minSelect' + indexQuestionGroup"
                           class="form-label">
                      Minimum:
                    </label>
                    <input [attr.id]="'minSelect' + indexQuestionGroup" class="form-control" name="maxSelect"
                           type="number"
                           [(ngModel)]="checkboxGroup.minSelect" [disabled]="!disableInput">
                  </div>
                  <div class="col">
                    <label [attr.for]="'maxSelect' + indexQuestionGroup"
                           class="form-label">
                      Maximal:
                    </label>
                    <input [attr.id]="'maxSelect' + indexQuestionGroup" class="form-control" name="maxSelect"
                           type="number" min="2"
                           [(ngModel)]="checkboxGroup.maxSelect" [disabled]="disableInput">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-end">
          Hinzufügen
        </button>
      </form>
    </div>
  </div>
</div>
