<div id="noCheckboxes" class="row"
     *ngIf="survey.questionGroups![indexQuestionGroup].questions![indexQuestion].checkboxGroup">
  <div class="d-flex text-center justify-content-center"
       *ngIf="survey.questionGroups![indexQuestionGroup].questions![indexQuestion].checkboxGroup!.checkboxes!.length == 0">
    <p class="alert alert-secondary m-0 w-75">
      Keine Auswahlmöglichkeiten gegeben.
    </p>
  </div>
</div>

<div id="listOfCheckboxes" *ngIf="survey.questionGroups![indexQuestionGroup].questions![indexQuestion].checkboxGroup">
  <ul class="list-group mb-2 p-0 container"
      *ngIf="survey.questionGroups![indexQuestionGroup].questions![indexQuestion].checkboxGroup!.checkboxes!.length > 0">
    <li class="list-group-item"
        *ngFor="let checkbox of survey.questionGroups![indexQuestionGroup].questions![indexQuestion].checkboxGroup!.checkboxes">
      <span> {{ checkbox.text }} </span>
      <span *ngIf="checkbox.hasTextField" class="badge bg-secondary float-end mt-1">
          Textfeld
      </span>
    </li>
  </ul>
</div>

<form id="addCheckbox" class="container"
      #checkboxForm="ngForm" (ngSubmit)="onSubmit()"
      *ngIf="survey.questionGroups![indexQuestionGroup].questions![indexQuestion].checkboxGroup">
  <div class="input-group mt-2 mb-1">
    <div class="input-group-text">
      <label [attr.for]="'hasTextField' + indexQuestion + 'group' + indexQuestionGroup">
        <!-- Add whitespace manually as the checkbox itself needs mt-0 to stay
             vertically centered => overwrites margin of label -->
        Mit Textfeld:&nbsp;&nbsp;&nbsp;
      </label>
      <input [attr.id]="'hasTextField' + indexQuestion + 'group' + indexQuestionGroup"
             class="form-check-input mt-0" name="text" type="checkbox"
             [(ngModel)]="checkbox.hasTextField">
    </div>
    <input id="checkboxText" class="form-control" name="text"
           placeholder="Neue Auswahlmöglichkeit"
           [(ngModel)]="checkbox.text"
           required>
    <button type="submit" class="btn btn-primary">Hinzufügen</button>
  </div>
</form>


