<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IKS - Umfragetool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</head>
<body>
<section class="d-flex flex-column min-vh-100 min-vw-100">
    <div id="basicInformation" class="container restrictWidth">
        <div id="surveyName" class="row my-4">
            <div class="col d-flex flex-column">
                <span>Name:</span>
                <span class="surveyInfo" th:text="${survey.name}"></span>
            </div>
            <div class="col d-flex flex-column">
                <span>Startdatum:</span>
                <span class="surveyInfo" th:text="${#temporals.format(survey.startDate, 'dd.MM.yyyy')}"></span>
            </div>
            <div class="col d-flex flex-column">
                <span>Enddatum:</span>
                <span class="surveyInfo" th:text="${#temporals.format(survey.endDate, 'dd.MM.yyyy')}"></span>
            </div>
        </div>
        <hr>
    </div>
    <div id="addQuestions" class="container restrictWidth">
        <h3>Fügen Sie Ihrer Umfrage einen Frageblock hinzu:</h3>
        <form id="addQuestionGroup" th:object="${newQuestionGroup}"
              th:action="@{'/createSurvey/questions/addGroup/{id}' (id=${survey.id})}"
              th:method="POST">
            <div class="input-group my-4">
                <input class="form-control" type="text" placeholder="Name/Beschreibung/Frage/..."
                       aria-label="Description QuestionGroup" aria-describedby="submitQuestionGroup"
                       th:field="${newQuestionGroup.description}" required>
                <button class="btn btn-outline-secondary" type="submit" id="submitQuestionGroup">Hinzufügen</button>
            </div>
        </form>
        <hr>
    </div>
    <div id="addedQuestion" class="container restrictWidth">
        <div id="noQuestionGroups" class="row">
            <span class="alert alert-secondary my-2" th:if="${survey.questionGroups.isEmpty()}">
                Es wurden bisher keine Fragen(-blöcke) hinzugefügt.
            </span>
        </div>
        <ul th:each="questionGroup : ${survey.questionGroups}">
            <li th:each="question : ${questionGroup.questions}"></li>
        </ul>
    </div>
</section>
</body>
</html>