<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IKS - Umfragetool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</head>
<body>
<section id="surveyOverview" class="d-flex flex-column min-vw-100">

    <div id="surveyNotAvailable" class="container restrictWidth mt-5" th:if="${notAvailable != null}">
        <div id="errorMessages" class="my-2">
            <div class="my-2 alert alert-danger">
                <span class="d-block errorMessage" th:text="${notAvailable}"></span>
            </div>
        </div>
    </div>

    <div id="information" class="container restrictWidth" th:if="${survey != null}">
        <h1 class="mt-3">
            Übersicht
        </h1>
        <hr>
        <div>
            <h2 id="surveyName" class="surveyInfo" th:text="${survey.name}"></h2>
        </div>
        <hr>
        <div id="surveyDescription" class="container" th:if="${!survey.description.isEmpty()}">
            <h3>
                Beschreibung:
            </h3>
            <p class="mx-2" th:text="${survey.description}"></p>
        </div>
        <hr th:if="${!survey.description.isEmpty()}">
        <div id="surveyDates" class="my-4 row w-100 basicInformation justify-content-evenly">
            <div class="col-1 d-flex flex-column">
                <span>Startdatum:</span>
                <span class="surveyInfo" th:text="${#temporals.format(survey.startDate, 'dd.MM.yyyy')}"></span>
                <span class="surveyInfo" th:text="${#temporals.format(survey.startDate, 'HH:mm')}"></span>
            </div>
            <div class="col-1 d-flex flex-column">
                <span>Enddatum:</span>
                <span class="surveyInfo" th:text="${#temporals.format(survey.endDate, 'dd.MM.yyyy')}"></span>
                <span class="surveyInfo" th:text="${#temporals.format(survey.endDate, 'HH:mm')}"></span>
            </div>
        </div>
        <hr>
        <div id="surveyAccessID" class="container">
            <div class="row">
                <h3>
                    Zugangs-ID:
                </h3>
            </div>
            <div class="row mb-2 text-center">
                <span id="accessID" class="surveyInfo text-center" th:text="${survey.accessID}"></span>
            </div>
            <div class="row text-center">
                <p>
                    Mit dieser ID können Sie jederzeit die Ergebnisse ihrer Umfrage einsehen.
                </p>
            </div>
        </div>
        <hr>
        <div id="surveyLink" class="container">
            <div class="row">
                <h3>
                    Link:
                </h3>
            </div>
            <div class="row mb-2 text-center">
                <span id="link" class="surveyInfo text-center" th:text="${url}"></span>
            </div>
            <div class="row text-center">
                <p>
                    Mit diesem Link können andere Nutzer an ihrer Umfrage teilnehmen.
                </p>
            </div>
        </div>
        <hr>
    </div>
</section>
</body>
</html>